@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";


body {
  background-color: #f8f9fa; /* Tailwind gray-100 */
  color: #2c3e50;
  font-family: Arial, Helvetica, sans-serif;
}